@import '../../2-abstract/variables';

.container {
  &-mobile,
  &-desktop {
    margin-top: $space-m;
    padding-top: $space-m;
  }

  &-mobile {
    border-top: 2px dashed $color-grey-20;
  }

  &-desktop {
    border-top: 2px dashed transparent;
    border-image: repeating-linear-gradient(
      270deg,
      transparent 0 4px,
      $color-grey-20 4px 8px
    );
    border-image-slice: 2;
  }
}

.dropdown-container {
  padding: 12px;
  border: 1px solid $color-grey-20;
  border-radius: 8px;
  background-color: $color-grey-10;
  cursor: pointer;
}

.star-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: $space-xxs;

  &__star {
    height: 20px !important;
    width: 20px !important;
  }

  path {
    stroke: transparent !important;
  }
}

.chevron-icon {
  &-active,
  &-inactive {
    margin-left: $space-xs;
  }

  &-active {
    transform: rotate(-90deg);
  }

  &-inactive {
    transform: rotate(90deg);
  }
}
