@import '../../2-abstract/variables';

.ewarranty-list {
  &__bottom-break,
  &__top-break,
  &__bottom-break-desktop {
    width: 100%;
  }
  &__bottom-break {
    border-bottom: 5px solid $color-grey-20;
    &-desktop {
      border-bottom: 2px solid $color-grey-20;
    }
  }
  &__top-break {
    border-bottom: 1px solid $color-grey-20;
  }
}

.ewarranty-status {
  background-color: $color-green-10;
  border-radius: 4px;
  border: 1px solid $color-grey-20;
  &__active-text {
    color: $color-green-60;
  }
}
