@import '../../2-abstract/variables';

.review-rating-item {
  &__store-image,
  &__store-image--border {
    &-mobile {
      border-radius: 18px;
    }
    &-desktop {
      border-radius: 30px;
    }
  }
  &__store-image--border {
    &-mobile,
    &-desktop {
      border: 1px solid $color-grey-10;
    }
  }
  &__product {
    &-mobile {
      border-top: 2px dashed $color-grey-20;
    }

    &-desktop {
      border-top: 2px dashed transparent;
      border-image: repeating-linear-gradient(
        270deg,
        transparent 0 4px,
        $color-grey-20 4px 8px
      );
      border-image-slice: 2;
    }

    &-image {
      border-radius: 4px;
    }
    &-name {
      text-transform: capitalize;
      color: $color-grey-100;
    }
    &-star {
      path {
        stroke: transparent !important;
      }
      svg {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }
  &__card {
    &--mobile {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
    }
    &--desktop {
      border: 1px solid $color-grey-20;
      border-radius: 8px;
    }
  }
}
