@import '../../2-abstract/variables';

.unify-search-bar {
  height: 100%;
  border-radius: $space-xs;
  background-color: $color-white;
  min-height: $space-xxl;

  &:focus {
    border-color: $color-blue-50;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-grey-30;
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }
}
