@import '../../2-abstract/variables';

.dropzone-faktur-area {
  position: relative;
  padding-bottom: $space-m;
  &__upload {
    position: relative;
    width: auto;
    height: 110px;
    border: 1px dashed $color-grey-50;
    border-radius: 5px;
  }
}

.dropzone-asset-image {
  margin: 0 auto;
  padding-top: $space-m;
  padding-bottom: $space-xs;
  display: flex;
}
