@import '../../2-abstract/variables';

.waiting-payment-button {
  border-radius: $space-xs;
  background-color: $color-white;

  &__text--mobile {
    font-size: $space-s;
    font-weight: $font-weight-medium;
    color: $color-grey-100;
  }

  &__text--desktop {
    font-size: 14px;
    font-weight: $font-weight-semi-bold;
    color: $color-grey-100;
  }
}
