@import '../../2-abstract/variables';

.ellipsize-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margin-left-2 {
  margin-left: 2px;
}

.margin-bottom-2 {
  margin-bottom: 2px;
}

.waiting-payment-item {
  &__container {
    &--mobile {
      border-bottom: 4px solid $color-grey-20;
    }
    &--desktop {
      border: 1px solid $color-grey-20;
      border-radius: $space-xs;
      margin-bottom: $space-s;
    }
  }
  &__upper-container {
    &--mobile {
      border-bottom: 1px solid $color-grey-10;
    }
    &--desktop {
      border-bottom: 1px solid $color-grey-30;
    }
  }
  &__lower-container {
    &-left {
      &--mobile {
        flex: 1;
      }
      &--desktop {
        display: flex;
        flex-direction: row;
        flex: 2;
      }
    }
    &-right {
      &--mobile {
        flex: 1;
      }
      &--desktop {
        flex: 1;
      }
    }
  }
}
