@import '../../2-abstract/variables';

.warranty-input-bar {
  width: 100%;
  height: 42px;
  border: 1px solid $color-grey-20;
  border-radius: $space-xs;
  padding-left: $space-xs;
  padding-right: $space-xs;
  margin-top: $space-s;
  margin-bottom: $space-s;
  font-size: 0.75rem;

  &__error {
    border: 1px solid $color-red-50;
  }
}

.warranty-toggle-text-override {
  color: $color-blue-50;
}
