.button {
  display: inline-block;
  width: 102px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-weight: 600;
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;

  &-badge-icon {
    padding-left: $space-xs;
    padding-right: $space-xs;
    border-radius: 10px;
    font-size: $font-xs;
  }

  &__social-login {
    background-color: white;
    border: 1px solid $color-grey-40;
    font-weight: 400;
    i {
      width: 18px;
      height: 18px;
      background-size: 100% 100%;
      background-position: center center;
      display: inline-block;
      margin-right: 5px;
      position: relative;
      top: 2px;
      &.login-google {
        background-image: url(https://assets.ruparupa.io/v3/static/homepage/desktop/icon/logo-google.svg);
      }
    }
  }

  &__tab {
    color: #f26a24;
    // color: $color-orange-50;
    border: none;
    background-color: transparent;
    &-border--ghost {
      border: none;
      background-color: transparent;
      color: #53565f;
    }
  }

  &__primary {
    color: white;
    border: none;
    &-ruparupa {
      background-color: $color-orange-50 !important;
      border: 1px solid $color-orange-50 !important;
    }
    &-ace {
      background-color: $color-ace !important;
      border: 1px solid $color-ace !important;
    }
    &-informa {
      background-color: $color-informa !important;
      border: 1px solid $color-informa !important;
    }
    &-toyskingdomonline {
      background-color: $color-toys-kingdom !important;
      border: 1px solid $color-toys-kingdom !important;
    }
    &-hyde-living {
      background-color: $color-hyde-living !important;
    }
    &-border {
      background-color: white !important;
      &-ruparupa {
        border: 1px solid $color-orange-50 !important;
        color: $color-orange-50 !important;
      }
      &-ace {
        border: 1px solid $color-ace !important;
        color: $color-ace !important;
      }
      &-informa {
        border: 1px solid $color-informa !important;
        color: $color-informa !important;
      }
      &-toyskingdomonline {
        border: 1px solid $color-toys-kingdom !important;
        color: $color-toys-kingdom !important;
      }
      &-hyde-living {
        border: 1px solid $color-hyde-living !important;
        color: $color-hyde-living !important;
      }
      &--ghost {
        border: 1px solid $color-grey-20;
        background-color: white;
        &-ruparupa {
          color: $color-orange-50;
        }
        &-ace {
          color: $color-ace;
        }
        &-informa {
          color: $color-informa;
        }
        &-toyskingdomonline {
          color: $color-toys-kingdom;
        }
      }
      &--ruparupa-installation {
        border-radius: 6px;
        border: 1px solid $color-orange-50;
        background-color: white;
        color: $color-orange-50;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 8px;
        padding-left: 8px;
      }
      &--ghost-installation {
        border-radius: 6px;
        border: 1px solid $color-grey-50;
        background-color: white;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 8px;
        padding-left: 8px;
      }
      & .button-badge-icon {
        &-ruparupa {
          background-color: $color-orange-50 !important;
          color: $color-white;
        }
        &-ace {
          background-color: $color-ace !important;
          color: $color-white;
        }
        &-informa {
          background-color: $color-informa !important;
          color: $color-white;
        }
        &-toyskingdomonline {
          background-color: $color-toys-kingdom !important;
          color: $color-white;
        }
      }
    }
    &-border-rounded {
      border-radius: 100px;
      &-ruparupa {
        background-color: $color-orange-10 !important;
        border: 1px solid $color-orange-50;
        color: $color-orange-50;
      }
      &-ace {
        background-color: $color-red-10 !important;
        border: 1px solid $color-ace;
        color: $color-ace;
      }
      &-informa {
        background-color: $color-blue-10 !important;
        border: 1px solid $color-informa;
        color: $color-informa;
      }
      &-toyskingdomonline {
        background-color: $color-orange-10 !important;
        border: 1px solid $color-toys-kingdom;
        color: $color-toys-kingdom;
      }
    }
    &-outline {
      border: 1px solid $color-white;
      color: $color-white;

      &-informa {
        background-color: $color-informa !important;
        &:hover,
        &:focus {
          background-color: $color-white !important;
          color: $color-informa;
        }
      }
      &-toyskingdomonline {
        background-color: $color-toys-kingdom !important;
        &:hover,
        &:focus {
          background-color: $color-white !important;
          color: $color-toys-kingdom;
        }
      }
    }
    & .button-badge-icon {
      background-color: $color-white !important;
      &-ruparupa {
        color: $color-orange-50;
      }
      &-ace {
        color: $color-ace;
      }
      &-informa {
        color: $color-informa;
      }
      &-toyskingdomonline {
        color: $color-toys-kingdom;
      }
    }
    &.disabled,
    &:disabled {
      cursor: not-allowed;
      background-color: $color-grey-20 !important;
      border: 1px solid $color-grey-20 !important;
      color: $color-grey-40 !important;
    }
  }

  &__secondary {
    border: none;
    &-ruparupa {
      background-color: $color-blue-50 !important;
      color: white;

      &:hover,
      &:focus {
        background-color: $color-blue-60 !important;
      }
    }
    &-ace {
      background-color: $color-blue-50 !important;
      color: white;

      &:hover,
      &:focus {
        background-color: $color-blue-60 !important;
      }
    }
    &-informa {
      background-color: $color-yellow-50 !important;
      color: $color-informa;

      &:hover,
      &:focus {
        background-color: $color-informa !important;
        border: 1px solid $color-yellow-50;
        color: $color-yellow-50;
      }
    }
    &-toyskingdomonline {
      background-color: $color-yellow-50 !important;
      color: $color-grey-100;
      &:hover,
      &:focus {
        background-color: $color-toys-kingdom !important;
        border: 1px solid $color-yellow-50;
        color: $color-yellow-50;
      }
    }
    &-border {
      &-ruparupa {
        background-color: white !important;
        border: 1px solid $color-blue-50;
        color: $color-blue-50;
        &:hover,
        &:focus {
          border: 1px solid $color-blue-60;
          background-color: $color-blue-60 !important;
          color: $color-white;
        }
      }
      &-ace {
        background-color: white !important;
        border: 1px solid $color-blue-50;
        color: $color-blue-50;
        &:hover,
        &:focus {
          border: 1px solid $color-blue-60;
          background-color: $color-blue-60 !important;
          color: $color-white;
        }
      }
      &-informa {
        background-color: $color-informa !important;
        border: 1px solid $color-yellow-50;
        color: $color-yellow-50;
        &:hover,
        &:focus {
          border: 1px solid $color-white;
          background-color: $color-yellow-50 !important;
          color: $color-white;
        }
      }
    }
  }

  &__disabled {
    background-color: $color-grey-20 !important;
    color: $color-grey-40 !important;
    border: none !important;
    cursor: not-allowed !important;
  }
  &__input-bar {
    position: absolute;
    right: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__ghost {
    &-primary {
      background-color: white;
      color: $color-grey-50;
      border: 1px solid $color-grey-50;
      &-ruparupa {
        &:hover,
        &:focus {
          border: 1px solid $color-orange-50;
          background-color: $color-orange-50;
          color: $color-white;
        }
      }

      &-ace {
        &:hover,
        &:focus {
          border: 1px solid $color-ace;
          background-color: $color-ace;
          color: $color-white;
        }
      }

      &-informa {
        &:hover,
        &:focus {
          border: 1px solid $color-informa;
          background-color: $color-informa;
          color: $color-white;
        }
      }
    }

    &-pcp-primary {
      background-color: $color-white;
      color: $color-grey-50;
      border: 1px solid $color-grey-30;
      &-ruparupa {
        &:hover,
        &:focus {
          border: 1px solid $color-orange-50;
          color: $color-orange-50;
        }
      }
      &-ace {
        &:hover,
        &:focus {
          border: 1px solid $color-ace;
          color: $color-ace;
        }
      }
      &-informa {
        &:hover,
        &:focus {
          border: 1px solid $color-informa;
          color: $color-informa;
        }
      }
      &-toyskingdomonline {
        &:hover,
        &:focus {
          border: 1px solid $color-toys-kingdom;
          color: $color-toys-kingdom;
        }
      }
    }

    &-pcp-primary-rounded {
      background-color: $color-white;
      color: $color-grey-40;
      border: 1px solid $color-grey-30;
      border-radius: 100px;
      &-ruparupa {
        &-active {
          background-color: $color-orange-10 !important;
          border: 1px solid $color-orange-50;
          color: $color-orange-50;
          border-radius: 100px;
        }
      }
      &-ace {
        &-active {
          background-color: $color-red-10 !important;
          border: 1px solid $color-ace;
          color: $color-ace;
          border-radius: 100px;
        }
      }
      &-informa {
        &-active {
          background-color: $color-blue-10 !important;
          border: 1px solid $color-informa;
          color: $color-informa;
          border-radius: 100px;
        }
      }
      &-toyskingdomonline {
        &-active {
          background-color: $color-orange-10 !important;
          border: 1px solid $color-toys-kingdom;
          color: $color-toys-kingdom;
          border-radius: 100px;
        }
      }
    }

    &-secondary {
      background-color: white !important;
      color: $color-grey-50;
      border: 1px solid $color-grey-50;
      &-ruparupa {
        &:hover,
        &:focus {
          border: 1px solid $color-blue-50;
          background-color: $color-blue-50 !important;
          color: $color-white;
        }
      }

      &-ace {
        &:hover,
        &:focus {
          border: 1px solid $color-blue-50;
          background-color: $color-blue-50 !important;
          color: $color-white;
        }
      }

      &-informa {
        &:hover,
        &:focus {
          border: 1px solid $color-blue-50;
          background-color: $color-blue-50 !important;
          color: $color-white;
        }
      }
    }

    &-black {
      background-color: $color-white !important;
      border: 1px solid black;
      color: $color-grey-100;
      font-size: smaller !important;
    }

    &-grey-20 {
      background-color: $color-white !important;
      border: 1px solid $color-grey-20;
      color: $color-grey-100;
    }
  }

  &__link {
    &-primary {
      background-color: white !important;
      color: $color-orange-50;
      border: none;
      &-ruparupa {
        color: $color-orange-50;
      }
      &-ace {
        color: $color-ace;
      }
      &-informa {
        color: $color-informa;
      }
      &-toyskingdomonline {
        color: $color-toys-kingdom;
      }
    }
    &-primary-transparent {
      background-color: transparent !important;
      color: $color-orange-50;
      border: none;
      &.disabled,
      &:disabled {
        color: $color-grey-20 !important;
        cursor: not-allowed;
      }
      &-ruparupa {
        color: $color-orange-50;
      }
      &-ace {
        color: $color-ace;
      }
      &-informa {
        color: $color-informa;
      }
      &-toyskingdomonline {
        color: $color-toys-kingdom;
      }
    }
    &-secondary {
      background-color: white !important;
      color: $color-blue-50;
      border: none;
    }
  }

  &--small {
    font-size: 0.625rem;
  }
  &--medium {
    font-size: 0.75rem;
  }
  &--big {
    font-size: 0.875rem;
  }

  &--radius-8 {
    border-radius: 8px;
  }
}

.btn-cms-block,
.btn-deals-wrapper,
.btn-promo-brand-wrapper {
  a.button {
    text-align: center;
    width: 100%;
  }
}

@mixin button-checkbox-styles {
  justify-content: center !important;
  padding: 0.5rem 0.75rem !important;
  font-weight: 600;
  border-radius: 4px;
}

.button-checkbox {
  @include button-checkbox-styles;
  color: $color-grey-100;
  background-color: $color-white;
  border: 1px solid $color-grey-20;
  &-active {
    &-ruparupa {
      @include button-checkbox-styles;
      color: $color-white;
      background-color: $color-orange-50;
      border: 1px solid $color-orange-50;
    }
    &-ace {
      @include button-checkbox-styles;
      color: $color-white;
      background-color: $color-ace;
      border: 1px solid $color-ace;
    }
    &-informa {
      @include button-checkbox-styles;
      color: $color-white;
      background-color: $color-informa;
      border: 1px solid $color-informa;
    }
    &-toyskingdomonline {
      @include button-checkbox-styles;
      color: $color-white;
      background-color: $color-toys-kingdom;
      border: 1px solid $color-toys-kingdom;
    }
  }
}
