.calendar-date-range-picker {
  &__container {
    border: none !important;
    background-color: transparent !important;
  }

  .chevron-left {
    transform: rotate(180deg);
  }

  .react-datepicker {
    display: flex !important;
    flex-wrap: wrap;
  }

  .react-datepicker__header--custom {
    border-bottom: none !important;
    background-color: transparent !important;
  }

  .react-datepicker__day,
  .react-datepicker__day-name {
    margin: 0px !important;
    transition: all 0.2s ease-in-out 0s;
  }

  .react-datepicker__month-container {
    border: 1px solid $color-grey-20;
    border-radius: $space-xs;
    padding: $space-xs;
    margin-bottom: $space-m;

    &:nth-child(2) {
      margin-right: $space-m;
    }
  }

  .react-datepicker__day--in-range {
    border-radius: 0 !important;
    color: $color-grey-100 !important;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--range-start,
  .react-datepicker__day--range-end {
    border-radius: $space-m !important;
    position: relative !important;

    span {
      color: $color-white !important;
    }
  }

  .react-datepicker__day--range-start::before,
  .react-datepicker__day--range-end::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
  }

  .react-datepicker__day--range-start::before {
    right: 0px;
  }

  .react-datepicker__day--range-end::before {
    left: 0px;
  }

  &--ruparupa {
    .react-datepicker__day--in-range,
    .react-datepicker__day--range-start::before,
    .react-datepicker__day--range-end::before {
      background-color: rgba($color-orange-50, 0.07) !important;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end {
      background-color: $color-orange-50 !important;
    }
  }

  &--ace {
    .react-datepicker__day--in-range,
    .react-datepicker__day--range-start::before,
    .react-datepicker__day--range-end::before {
      background-color: rgba($color-ace, 0.07) !important;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end {
      background-color: $color-ace !important;
    }
  }

  &--informa {
    .react-datepicker__day--in-range,
    .react-datepicker__day--range-start::before,
    .react-datepicker__day--range-end::before {
      background-color: rgba($color-informa, 0.07) !important;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end {
      background-color: $color-informa !important;
    }
  }

  &--toyskingdomonline {
    .react-datepicker__day--in-range,
    .react-datepicker__day--range-start::before,
    .react-datepicker__day--range-end::before {
      background-color: rgba($color-toys-kingdom, 0.07) !important;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end {
      background-color: $color-toys-kingdom !important;
    }
  }
}
