.context-menu {
  &__wrapper {
    position: relative;
    display: block;
  }
  &__container {
    position: absolute;
    right: 0px;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding: $space-xs;
    border-radius: $space-xs;
    margin-top: $space-xs;
  }
}
