.dropzone-area {
  position: relative;
  &__upload {
    position: relative;
    width: 25vw;
    height: 110px;
    border: 1px solid #f0f2f7;
    margin: 8px;
    max-width: 120px;
  }
  &__preview {
    position: absolute;
    top: 0;
    width: 100%;
    img {
      display: block;
      width: 100%;
      height: 108px;
      max-width: 120px;
    }
  }
  &__delete {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    max-width: 120px;
    width: 27vw;
    padding: 4px;
    text-align: center;
    display: block;
    margin: 8px 8px 0 8px;
    img {
      width: 100%;
      height: 16px;
    }
  }
  .icon-plus {
    top: 35%;
    position: absolute;
    left: 44%;
    font-size: 20px;
    color: gray;
  }
}
