.infobox-wrapper {
  display: flex;
  justify-content: center;
  &__floating-over-modal {
    position: absolute;
    z-index: 1060;
  }
}

.floating-infobox {
  border-radius: 8px;
  bottom: 80px;
  margin: 0px auto;
  pointer-events: none;
  position: fixed;
  left: 50%;
  transition: all 300ms ease 0s;
  transform: translate(-50%, 0px);
  width: calc(100% - 32px);
  z-index: 12;
  &__error-modal,
  &__success-modal,
  &__info-modal,
  &__warning-modal {
    z-index: 1041;
  }
  &__error,
  &__error-modal {
    background-color: $color-red-10;
    color: $color-red-60;
  }
  &__error-minicart {
    color: $color-red-10;
    background-color: $color-red-60;
  }

  &__success,
  &__success-modal {
    background-color: $color-green-10;
    color: $color-green-60;
  }

  &__success-text-white {
    background-color: $color-green-60;
    color: $color-white;
  }

  &__info,
  &__info-modal {
    background-color: $color-grey-50;
    color: $color-white;
  }

  &__warning-pdp,
  &__warning-modal {
    background-color: $color-red-50;
    color: $color-white;
  }
  &__warning-top-pajak {
    background-color: $color-red-50;
    color: $color-white;
    top: 80px;
    bottom: auto;
  }

  .infobox-content {
    display: flex;
    padding: $space-xs $space-s;
    align-items: center;

    &.space-between {
      justify-content: space-between;
    }
    img {
      margin-right: $space-xs;
    }
    span {
      display: inline-block;
    }

    .infobox-btn {
      cursor: pointer;
      pointer-events: auto;
      margin-left: auto;
      font-weight: 600;
    }
  }
}

.floating-infobox {
  &__desktop {
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: default;
    padding: $space-m $space-xl;
    pointer-events: auto;
    position: fixed;
    top: 200px;
    left: 50%;
    transition: all 300ms ease 0s;
    transform: translate(-50%, 0px);
    width: auto;
    z-index: 1100;

    &__error-minicart {
      background-color: $color-red-60;
      color: $color-red-10;
    }

    .infobox-content {
      display: flex;
      span {
        display: flex;

        &.infobox-btn {
          cursor: pointer;
          margin-left: 40px;
        }
      }
    }
    &.floating-infobox {
      &__cart-error {
        background-color: $color-red-60;
        color: $color-red-10;
      }

      &__error {
        background-color: $color-red-50;
        color: $color-white;
      }

      &__success {
        background-color: $color-green-50;
        color: $color-white;
      }
    }
  }

  &__error {
    background-color: $color-red-50;
    color: $color-white;
  }

  &__success {
    background-color: $color-green-50;
    color: $color-white;
  }
}
