/* FRESHCHAT WIDGET */
.freshchat-widget {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  opacity: 0;
  transform: scale(0);
  transition:
    transform 0.2s ease-out,
    opacity 0.15s ease-out;
  pointer-events: none;
  cursor: pointer;
  transform-origin: right;
  font-size: $font-xs;

  &.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: initial;
    transition: 0.25s;
    transform: translateY(0px);
  }

  & svg {
    font-size: $space-m;
    margin-right: 4px;
    width: 16px;
  }
}

.fc_open {
  display: block !important;
}
