.generic-pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0px 20px 0px;

  .arrow-li {
    width: 42px !important;
    height: 42px !important;
    padding: 10px !important;

    .icon {
      width: 20px;
      height: 20px;
      opacity: 0.25;

      &--active {
        width: 20px;
        height: 20px;
        opacity: 1;
      }
    }
  }

  .active {
    color: white;
    background-color: #008ccf;
    border-color: #008ccf;
  }
}

.generic-pagination > li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e6ed;
  width: 25px;
  height: 25px;
  padding: 20px;
  margin: 0 2px;
  border-radius: 4px;
  transition: background-color 150ms ease-out;
}

.generic-pagination > li:hover,
.generic-pagination > li:focus {
  border-color: #008ccf;
}
