.infobox {
  display: flex;
  &__info {
    background-color: $color-blue-10;
    color: $color-blue-60;
  }
  &__warning {
    background-color: $color-yellow-10;
    color: $color-yellow-60;
  }
  &__error {
    background-color: $color-red-10;
    color: $color-red-60;
  }
  &__success {
    background-color: $color-green-10;
    color: $color-green-60;
  }
  &.size-default {
    border-radius: 6px;
    padding: $space-xs $space-s;
  }
  &.size-sm {
    border-radius: $space-xxl;
    padding: $space-xxs $space-xs;
  }
  &.bottom-pdp__floating {
    position: absolute;
    left: 50%;
    top: -62px;
    transform: translate(-50%, -50%);
  }
  &.bottom-pdp__fixed {
    position: fixed;
    left: 50%;
    bottom: 66px;
    transform: translate(-50%, -50%);
    z-index: 50;
  }
}

.infobox-voucher {
  background-color: $color-yellow-10;
  color: $color-yellow-60;
  border-radius: 8px;
  margin-top: 12px;
  font-size: 12px;
  font-weight: $font-weight-medium;
  padding: 8px;
  display: flex;
}
