.info-box {
  padding: $space-xs;
  color: #555761;
  position: relative;
  &__icon-space {
    position: absolute;
    top: 6px;
    left: 12px;
    color: #757886;
    img {
      width: 14px;
      height: 14px;
    }
  }
  &__text-space {
    text-align: justify;
    padding-left: 28px;
    padding-right: 8px;
    display: block;
    font-size: $font-xs;
    p {
      font-size: $font-xs;
      line-height: 1rem;
    }
  }
  // just add new color here for background
  &--blue {
    background-color: #e5f7ff;
  }
}
