.search-input {
  position: relative;
}

.search-bar {
  width: 100%;
  height: 32px;
  border: 1px solid $color-grey-20;
  border-radius: 5px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 0.75rem;

  &__desktop {
    padding-left: 17px;
    padding-right: 70px;
    height: 40px;
    font-size: 0.875rem;
  }
}

input {
  &.search-bar:focus {
    outline: $color-blue-50;
  }
}

.input-bar {
  &:focus {
    outline: none;
  }

  &__with-button {
    padding: 12px;
    font-size: 12px;
    border-radius: 4px;
    padding-right: 122px;

    &:focus {
      outline: none;
    }

    &__ruparupa {
      border: 2px solid $color-orange-50;
    }

    &__ace {
      border: 2px solid $color-ace;
    }

    &__informa {
      border: 2px solid $color-informa;
    }

    &__toyskingdomonline {
      border: 2px solid $color-toys-kingdom;
    }
    &__hyde-living {
      border: 2px solid $color-hyde-living;
    }
  }
}

.input-bar-container {
  position: relative;

  input {
    width: 100%;
    // font-size: $font-m;
    // padding: 12px;
    // padding-left: 36px;
    border: 1px solid $color-grey-20;
    border-radius: 4px;
  }

  img {
    top: 11px;
    position: absolute;
    left: 9px;
  }

  .select-bar {
    width: 100%;
    font-size: $font-s;
    padding: 10px;
    border: 1px solid $color-grey-20;
    border-radius: 4px;
    max-height: 40px;
  }
}

.order-detail {
  .input {
    margin-top: 4px;
    margin-bottom: $space-m;
  }

  .input-bar {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}

.form-group {
  width: 100%;
  position: relative;
  &.pre-text {
    & .form-input {
      padding-left: $space-xxxl;
    }
  }
  & > .form-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 8px;
    color: $color-grey-50;
    background-color: $color-grey-20;
    font-size: $font-s;
    font-weight: $font-weight-bold;
    line-height: $font-s-line-height;
    border-top-left-radius: $input-radius;
    border-bottom-left-radius: $input-radius;
  }
}

.form-input {
  width: 100%;
  padding: $space-s;
  font-size: $font-xs;
  font-weight: $font-weight-regular;
  line-height: $font-xs-line-height;
  border-radius: $input-radius;
  border: 1px solid $color-grey-20;
  &:focus-visible,
  &:focus {
    outline: unset;
  }
}

.input-bar-b2b-container {
  position: relative;

  input {
    width: 100%;
    font-size: $font-s;
    padding: 10px;
    border: 1px solid $color-grey-20;
    border-radius: 8px;
    max-height: 40px;
    outline: none;
    &:focus-visible,
    &:focus {
      outline: unset;
    }
  }

  textarea {
    width: 100%;
    font-size: $font-s;
    padding: 10px;
    border: 1px solid $color-grey-20;
    border-radius: 8px;
    resize: none;
  }
}

.input-otp {
  padding: 12px;
  font-size: 1rem;
  text-align: center;
}

.input-field-desktop {
  padding: 12px;
  font-size: $font-m;
  padding-left: 15px;
  &.klk-change-profile {
    width: 60%;
  }
  &.white-field {
    background-color: white;
  }
  &.input-phone-country-code-4 {
    padding-left: 65px;
  }
  &.input-err {
    border: 1px solid $color-red-50;
  }
}

.input-field-mobile {
  padding: 12px;
  font-size: $font-xs;
  padding-left: 15px;
  &.input-phone {
    padding-left: 60px;
  }
  &.input-phone-country-code-4 {
    padding-left: 65px;
  }
  &.white-field {
    background-color: white;
  }
  &.input-err {
    border: 1px solid $color-red-50;
  }
}
