.input-radio-checkbox {
  cursor: pointer;

  &__ace {
    accent-color: $color-ace;
  }

  &__informa {
    accent-color: $color-informa;
  }

  &__toyskingdomonline {
    accent-color: $color-toys-kingdom;
  }

  &__ruparupa {
    accent-color: $color-orange-50;
  }

  &__inline {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  &__spacing {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
