.border {
  justify-content: space-between;
  display: flex;
  padding-bottom: $space-l;
  padding-top: $space-l;
  &--solid {
    border-bottom: 1px solid $color-grey-20; /* use a light grey color for border */
    &__white {
      border-bottom-color: #ffffff;
    }
  }

  &--dashed,
  &--dashed-top {
    position: relative;
  }
  &--dashed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; /* Adjust the value to change the height of the dashed line */
    background-image: repeating-linear-gradient(
      90deg,
      $color-grey-20,
      $color-grey-20 4px,
      transparent 4px,
      transparent 8px
    );
  }

  &--dashed-top::after {
    content: '';
    margin-top: $space-xs;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px; /* Adjust the value to change the height of the dashed line */
    background-image: repeating-linear-gradient(
      90deg,
      $color-grey-20,
      $color-grey-20 4px,
      transparent 4px,
      transparent 8px
    );
  }

  &--dashed-installation {
    border-bottom: 3px dashed $color-grey-30;
  }
}

.non-border {
  justify-content: space-between;
  display: flex;
  padding-top: 8px;
}

.text-value-enabled {
  cursor: pointer;
}

.toggle {
  &-active {
    transform: rotate(-90deg);
  }
  &-inactive {
    transform: rotate(90deg);
  }
}

.label-installation {
  padding-bottom: 4px;
}

.border-button {
  border: 1px solid $color-grey-20;
}

.button-label-unify {
  border-radius: 5px;
  padding: $space-xs;
}
