.header-unifyapps {
  &-top {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0;
    &-sticky {
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
    }
  }
}

.header-content {
  display: flex;
  width: 100%;
  min-height: 3em;
}

.header-shadow {
  box-shadow:
    0 0px 0px 0 rgb(0 0 0 / 20%),
    0 4px 5px 0 rgb(0 0 0 / 10%);
}

.base-title {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.content-with-footer {
  padding-bottom: 80px;
}

.border-dashed {
  border: 1px dashed $color-grey-30;
}
