.pagination-container {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-left: -1.25px;
  margin-right: -1.25px;
  gap: 2px;

  .pagination-item {
    font-size: 12px;

    &.active .pagination-link {
      z-index: 1;
      color: $color-white;
      background-color: $color-blue-50;
      border-color: $color-blue-50;
      cursor: not-allowed;
    }

    &.disabled .pagination-link {
      cursor: not-allowed;
    }
  }

  .pagination-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    line-height: 1.25;
    color: $color-grey-50;
    background-color: $color-white;
    border: 1px solid $color-grey-20;
    border-radius: 4px;
  }

  span {
    line-height: 0;
  }
}
