.popular-keyword,
.category-suggestion-search {
  margin-top: 8px;
  display: flex;

  &__desktop {
    margin-bottom: 15px;
    align-self: center;
    padding: 0px 4px;
    align-self: stretch;
    align-items: stretch;

    .popular-list,
    .category-list {
      padding: 10px 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 2px;
      border-radius: 7px;
      height: 100%;

      img {
        align-self: center;
        border-radius: 10%;
      }

      span img {
        min-width: 35px;
      }

      &__text {
        font-size: 0.7rem;
        font-weight: 500;
        line-height: 0.75rem;
      }
    }
  }

  &__mobile {
    margin-bottom: 10px;
    padding: 2px 5px;
    align-self: stretch;
    align-items: stretch;

    .popular-list,
    .category-list {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 2px;
      padding: 5px 3px;
      border-radius: 6px;
      height: 100%;

      img {
        align-self: center;
        border-radius: 10%;
        margin: 0;
      }

      span {
        align-self: center;

        img {
          min-width: 40px;
        }
      }

      &__text {
        font-size: 0.815rem;
      }
    }
  }
}

.popular-brand {
  &__container {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__scroller {
    flex-wrap: nowrap !important;
  }

  &__item {
    flex-shrink: 0;
  }
}

.last-seen-search {
  &__container {
    .swiper-slide {
      cursor: pointer;
      width: 73px !important;
      height: 73px !important;
    }
  }
}
