.product-slider {
  &__mobile {
    border-top: 4px solid $color-grey-20;
    padding-top: $space-xl;
    padding-bottom: $space-m;
  }

  &__desktop {
    margin-top: $space-xl;

    .product-card {
      padding-bottom: $space-xs !important;
    }

    .swiper-container {
      margin-left: unset;
      margin-right: unset;
    }

    .swiper-slide {
      width: 213.3333px !important;
    }

    .add-to-cart {
      &__success {
        padding: 0 $space-xs;
        .swiper-slide {
          width: 189.6px !important;

          .container-card__product .image {
            img {
              height: 173.6px;
              width: 173.6px;
            }
          }
        }
      }
    }
  }
}
