// horizontal progress bar
.progress-bar {
  padding-right: $space-m;
  padding-left: $space-m;
  padding-top: $space-xxl;
  padding-bottom: $space-xxl;
  margin-top: $space-xl;
  margin-left: $space-m;
  margin-right: $space-m;
  &__desktop-space-xxl {
    padding-right: $space-xxl;
    padding-left: $space-xxl;
    margin-left: $space-xxl;
    margin-right: $space-xxl;
  }

  .progress-bar-label {
    position: absolute;
    top: -35px;
    bottom: 20px;
    width: '90%';
    font-weight: 500;
    font-size: $font-xxs;
    text-align: center;
    &__min-width-65 {
      min-width: 65px;
      display: flex;
      align-items: center;
    }
    &__min-width-70 {
      font-size: 12px;
      min-width: 70px;
      display: flex;
      align-items: center;
    }
    &__desktop {
      top: -30px;
      font-size: 12px;
      width: max-content;
    }
  }

  .progress-bar-label {
    position: absolute;
    top: -35px;
    bottom: 20px;
    width: '90%';
    font-weight: 500;
    font-size: $font-xxs;
    text-align: center;
    &__min-width-65 {
      min-width: 65px;
      display: flex;
      align-items: center;
    }
  }

  .step {
    width: 12px;
    height: 12px;
    background-color: $color-grey-30;
    border-radius: 50%;
    &--completed {
      background-color: $color-orange-50;
    }
    &--canceled {
      background-color: $color-red-50;
    }
  }
}

// vertical dots and line
.container_vertical_progress {
  display: flex;
  flex-direction: row;
}

.container_progress_bar {
  position: relative;
  top: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dots_icon {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: $color-orange-50;

  &__deactive {
    background-color: $color-grey-30;
  }

  &__completed {
    background-color: $color-green-60;
  }
}
.dots_icon_installation {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: $color-yellow-50;
  z-index: 100;

  &__deactive {
    background-color: $color-grey-30;
  }
}

.line_progress {
  position: absolute;
  background-color: $color-orange-50;
  height: calc(100% - 8px);
  width: 2px;
  top: 0.5rem;

  &__deactive {
    background-color: $color-grey-30;
  }

  &__completed {
    background-color: $color-green-60;
  }
}

.line_progress_installation {
  position: absolute;
  background-color: $color-yellow-50;
  height: calc(100% - 8px);
  width: 2px;
  top: 0.5rem;

  &__deactive {
    background-color: $color-grey-30;
  }
}

.content_progress {
  width: auto;
}
