.product-quantity {
  border: 1px solid $color-grey-10;
  border-radius: $space-xxs;

  > * {
    border: unset;
    display: flex;
    font-size: $space-m;
    padding: $space-xs;
  }

  > button {
    background-color: $color-grey-10;
    cursor: pointer;
    height: fit-content;
  }

  &__input {
    outline: unset;
    text-align: center;
    width: 52px;
  }
}
