.tab-bar {
  list-style: none;
  overflow: auto;
  &__container--desktop {
    border-bottom: 1px solid $color-grey-20;
  }
  &__item,
  &__item--active-ruparupa,
  &__item--active-ace,
  &__item--active-informa,
  &__item--active-toyskingdomonline {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-color: transparent;
    transition: border-color 350ms ease-out;
    .text {
      color: $color-grey-50;
      font-weight: $font-weight-regular;
      &-mobile {
        font-size: $space-s;
        line-height: $space-m;
      }
      &-desktop {
        font-size: 14px;
        line-height: $space-l;
      }
    }
  }
  &__item--active {
    &-ruparupa,
    &-ace,
    &-informa,
    &-toyskingdomonline {
      .text-mobile {
        font-weight: $font-weight-bold;
      }
      .text-desktop {
        font-weight: $font-weight-semi-bold;
      }
    }
    &-ruparupa {
      border-bottom: 2px solid $color-orange-50;
      .text-mobile,
      .text-desktop {
        color: $color-orange-50;
      }
    }
    &-ace {
      border-bottom: 2px solid $color-ace;
      .text-mobile,
      .text-desktop {
        color: $color-ace;
      }
    }
    &-informa {
      border-bottom: 2px solid $color-informa;
      .text-mobile,
      .text-desktop {
        color: $color-informa;
      }
    }
    &-toyskingdomonline {
      border-bottom: 2px solid $color-toys-kingdom;
      .text-mobile,
      .text-desktop {
        color: $color-toys-kingdom;
      }
    }
  }
  &__badge {
    &-ruparupa,
    &-ace,
    &-informa,
    &-toyskingdomonline {
      margin-left: $space-xxs;
      width: 20px;
      height: 20px;
      font-weight: $font-weight-medium;
      font-size: $space-s;
      color: $color-white;
      border-radius: 50%;
    }
    &-ruparupa {
      background-color: $color-orange-50;
    }
    &-ace {
      background-color: $color-ace;
    }
    &-informa {
      background-color: $color-informa;
    }
    &-toyskingdomonline {
      background-color: $color-toys-kingdom;
    }
  }
}
