.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltiptext {
    visibility: visible;
  }

  .tooltiptext {
    visibility: hidden;
    min-width: 330px;
    max-width: 500px;
    background-color: $color-grey-100;
    padding: 12px;
    border-radius: 8px;
    position: absolute;
    left: -165px;
    z-index: 10;
    font-size: 14px;
    color: $color-white;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      font-weight: 700;
    }
    .content {
      font-weight: 400;
    }
  }
}
