.voucher-dot {
  color: #f26525;
  border: 2.2px dashed #757885;
  padding: $space-xs;
  text-align: center;
  font-weight: bold;
  font-size: $font-xs;
  cursor: pointer;

  svg {
    position: relative;
    top: 1px;
    margin-left: $space-xs;
  }
}
