/* Joyride */

.joyride-tooltip {
  max-width: 328px;
  min-width: 300px;
  background-color: $color-grey-100;
  border-radius: 5px;
  position: relative;
  padding: 15px;
  display: flex;
  color: white;
  font-size: $font-s;
  flex-direction: column;

  .row {
    align-items: center;
  }

  .pagination {
    &__bullet {
      display: inline-block;
      margin-right: 4px;
      width: 10px;
      height: 10px;
      background: white;
      border-radius: 50%;
      &.active {
        background: $color-orange-50;
      }
    }
  }
}

.joyride-tooltip__title {
  font-size: $font-m;
  font-weight: bold;
  padding-bottom: 7px;
}

.joyride-tooltip__content {
  padding-top: 7px;
  padding-bottom: 10px;
}

.joyride-tooltip__buttons {
  margin-top: 10px;
}
.joyride-tooltip__buttons button {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.joyride-tooltip__body {
  position: relative;
  .close-btn {
    position: absolute;
    top: -4px;
    right: -4px;
  }
}
