.custom-lazy-load-image {
  .custom-lazyload-container {
    span {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .react-loading-skeleton {
    display: block;
    width: 100%;
    height: 100%;
  }
}
