//there are duplicate of this css in shared/desktop
.floating-button {
  width: 80px;
  position: fixed;
  bottom: 125px;
  z-index: 2;
  transition: 0.25s;
  transform: translateY(0px);
}

.baso-voucher {
  &__container {
    position: fixed;
    z-index: 5;
    top: 35vh;
    border: 1px solid white;
    left: -341px;
    transition-duration: 0.3s;
    .close-btn-container {
      cursor: pointer;
      .close-btn {
        position: absolute;
        right: -12px;
        top: -8px;
      }
    }
    &.active {
      left: 0px;
    }
    .tag {
      cursor: pointer;
      background: $color-blue-50;
      writing-mode: vertical-lr;
      padding-left: calc(#{$space-xs} / 2);
      padding-right: calc(#{$space-xs} / 2);
      padding-top: $space-m;
      padding-bottom: $space-m;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .heading-2 {
      color: white;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
    }

    .content {
      background-color: white;
      width: 340px;
      text-align: center;
      font-size: $font-s;
      padding: $space-s;

      u {
        font-size: $font-xs;
        color: $color-grey-50;
      }
    }
  }
  &__tnc-trigger {
    cursor: pointer;
  }
  &__code {
    cursor: pointer;
    padding-left: $space-xs;
    padding-right: $space-xs;
    padding-top: $space-m;
    padding-bottom: $space-m;
    &--voucher-code {
      align-items: center;
      color: $color-blue-50;
      text-align: center;
      font-weight: 700;
      font-size: 1rem;
      border-style: dashed;
      border-color: $color-grey-40;
      border-width: 2.2px;
      padding: 4px $space-xs;
    }
    &--copy {
      margin-top: 3px;
      font-size: 12px;
      color: $color-blue-50;
      path {
        stroke: $color-blue-50 !important;
      }
    }
  }
}
