.header-detail {
  position: absolute;
  .border-bottom {
    border-bottom: 2px solid $color-grey-20;
  }
  &__top {
    position: relative;
  }
  &__auth {
    position: fixed;
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
  }
  &__container {
    background-color: white;
    z-index: 1070;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  &__title {
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    padding: $space-m;
    color: $color-black;
  }

  &__body {
    overflow: hidden;
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .notification-content {
    display: flex;
    flex-direction: column;
  }

  .notification-content,
  .profile-container {
    max-height: Min(
      440px,
      calc(100vh - 210px)
    ); // M nya harus huruf kapital supaya pakai fungsi min() dari CSS bukan dari SASS
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .profile-container {
    &__ruparupa {
      max-height: Min(539px, calc(100vh - 210px));
    }
    &__ace,
    &__informa,
    &__toyskingdomonline {
      max-height: Min(490px, calc(100vh - 210px));
    }
  }
  /* Hide scrollbar for Chrome, Safari and Opera */

  //        /* width */
  // ::-webkit-scrollbar {
  //     width: $space-xs;
  //   }

  //   /* Track */
  //   ::-webkit-scrollbar-track {
  //     box-shadow: inset 0 0 5px $color-grey-30;
  //     border-radius: 8px;
  //   }

  //   /* Handle */
  //   ::-webkit-scrollbar-thumb {
  //     background: $color-grey-40;
  //     border-radius: 8px;
  //   }

  //   /* Handle on hover */
  //   ::-webkit-scrollbar-thumb:hover {
  //     background: $color-grey-80;
  //   }
}
