.product-special-price-container {
  padding: $space-xs $space-m;
  width: 100%;
  display: flex;
  background: url('https://cdn.ruparupa.io/media/promotion/ruparupa/pdp-promo/Banner.png');
  background-repeat: round;
  flex-direction: column;
  border-radius: $space-xs;
  &__desktop {
    margin-top: $space-xl;
  }

  &-top-section {
    font-size: $font-s;
    font-weight: 700;
    color: white;
    margin-bottom: $space-xs;
  }

  &-bottom-section {
    display: flex;

    &-left {
      display: flex;
      background: $color-blue-60;
      justify-content: space-between;
      align-items: center;

      border: 1px solid $color-blue-40;
      border-radius: 3em;
      width: 70%;
      justify-content: space-between;
      padding: 0 1em;
      height: auto;

      .product-special-price- {
        &text {
          color: $color-blue-20;
          font-size: 0.75rem !important;
          font-weight: 700;
          font-size: $font-xs;
        }

        &time {
          width: 5em;
          height: 20px;
          border-radius: 100px;
          background: #f9f9f9;
          color: $color-grey-100;
          justify-content: center;
          align-items: center;
          display: flex;
          font-size: $font-xs;
          font-weight: 600;
        }
      }
    }

    &-right {
      width: 30%;
      height: auto;
      margin-left: 8px;
    }
  }
}
