.product-flash-sale-container {
  padding: $space-s $space-m;
  width: 100%;
  display: flex;
  background: url('https://cdn.ruparupa.io/media/promotion/ruparupa/pdp-promo/Banner-2-rev.png');
  background-repeat: round;
  justify-content: flex-end;
  border-radius: $space-xs;
  &__desktop {
    margin-top: $space-xl;
  }

  &-right-section {
    width: 60%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    align-items: center;

    &-left {
      font-size: $font-xs;
      color: white;
      margin-right: $space-xs;
      font-weight: 600;
    }

    &-right {
      .flashSale-time {
        display: flex;
        background: white;
        width: 5.4em;
        justify-content: center;
        height: 20px;
        align-items: center;
        border-radius: 3em;
        font-size: $font-xs;
        font-weight: 600;
      }
    }
  }
}
