.star-ratings__container-gap-4 {
  path {
    stroke: transparent !important;
  }
  .star-ratings {
    display: flex !important;
    gap: 4px;
  }
}
.star-ratings__container-gap-8 {
  path {
    stroke: transparent !important;
  }
  .star-ratings {
    display: flex !important;
    gap: 8px;
  }
}
.star-ratings__container-gap-12 {
  path {
    stroke: transparent !important;
  }
  .star-ratings {
    display: flex !important;
    gap: 12px;
  }
}
