// -----------------------------------------------------------------------------
// This file contains customize templace css.
// -----------------------------------------------------------------------------

@media (max-width: 1366px) {
  .w-17 {
    width: 17.5em;
  }
  .mw-22 {
    min-width: unset !important;
  }
  .search-bar {
    border-radius: 2px !important;
  }
}

.bg-white {
  background-color: #fff;
}

.grey-100 {
  color: $color-grey-100;
}
.grey-40 {
  color: $color-grey-40;
}

.white-100 {
  color: $color-white !important;
}

.blue-60 {
  color: $color-blue-60;
}

.bg-grey-10 {
  background-color: $color-grey-10;
}

.bg-grey-20 {
  background-color: $color-grey-20;
}

.bg-grey-10 {
  background-color: #f3f4f5;
}

.font-grey-40 {
  color: #80838c !important;
}

.grey-50 {
  color: $color-grey-50;
}

.grey-30 {
  color: $color-grey-30;
}

.font-grey-40 {
  color: #80838c !important;
}

.w-full {
  width: 100% !important;
}

.w-90 {
  width: 90%;
}

.font-regular {
  font-weight: 400 !important;
}
.font-medium {
  font-weight: 500 !important;
}
.font-semibold {
  font-weight: 600 !important;
}
.font-bold {
  font-weight: 700 !important;
}

.gap-2xs {
  gap: $space-xxs !important;
}

.gap-xs {
  gap: $space-xs !important;
}

.gap-1 {
  gap: 1em !important;
}

.gap-8 {
  gap: 8px !important;
}

.gap-12 {
  gap: 12px !important;
}

.gap-6 {
  gap: 6px !important;
}

.display-none {
  display: none;
}

.gap-s {
  gap: $space-xs !important;
}

.gap-sm {
  gap: $space-s !important;
}

.gap-m {
  gap: $space-m !important;
}

.tw-h-48 {
  height: 48px !important;
}

.h-40 {
  height: 40px !important;
}

.w-40 {
  width: 40px !important;
}

.gap-20 {
  gap: 20px !important;
}

.w-80 {
  width: 80px;
}

.mt-3xl {
  margin-top: 15em !important;
}

.h-68 {
  height: 68px;
}

.gap-1 {
  gap: 1em !important;
}

.gap-3 {
  gap: 4em !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.h-auto {
  height: auto !important;
}

.h-unset {
  height: unset !important;
}

.pointer-unset {
  pointer-events: none !important;
}

.pointer-auto {
  pointer-events: auto !important;
}

.w-auto {
  width: auto !important;
}

.mb-m {
  margin-bottom: $space-m !important;
}

.w-fit {
  width: fit-content !important;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-unset {
  position: unset !important;
}

.index-3 {
  z-index: 3;
}

.c-white {
  background-color: $color-white;
}

.rounded-full {
  border-radius: 100%;
}

.w-32 {
  width: 32px;
}

.h-32 {
  height: 32px;
}

.border-radius-s {
  border-radius: $space-s;
}

.row-reverse {
  flex-direction: row-reverse !important;
}

.border-radius-xs {
  border-radius: $space-xs;
}

.border-radius-xxs {
  border-radius: $space-xxs;
}

.border-orange-100 {
  border: 1px solid #f26a24;
}

.bg-red-10 {
  background-color: $color-red-10;
}

.bg-green-10 {
  background-color: $color-green-10;
}

.border-red-60 {
  border: 1px solid $color-red-60;
}

.border-green-60 {
  border: 1px solid $color-green-60;
}

.border-grey-20 {
  border: 1px solid $color-grey-20;
}

.border-grey-50 {
  border-radius: 6px;
  border: 1px solid var(--grey-grey-50, #53565f);
}

.w-16 {
  width: 16px;
}

.h-16 {
  height: 16px;
}

.mw-25 {
  max-width: 25em;
}

.mw-20 {
  max-width: 20em;
}

.mw-42 {
  max-width: 42%;
}

.mw-9 {
  max-width: 9em;
}

.mw-15 {
  max-width: 189em;
}

.l-5 {
  left: 5% !important;
}

.border-grey {
  border-top: 1px solid #e2e4e7;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw !important;
}

.index-3 {
  z-index: 3;
}

.c-grey {
  color: $color-grey-100;
}

.c-blue-50 {
  color: $color-blue-50;
}

.column {
  flex-direction: column;
}

.h-2xs {
  height: 4px;
}

.w-sm {
  width: 7px;
}

.h-sm {
  height: 2.4em;
}

.h-2 {
  height: 2.5em !important;
}

.h-3 {
  height: 3em;
}

.h-14 {
  height: 14em;
}

.h-7 {
  height: 7em;
}

.h-11 {
  height: 11.25em; //180px
}

.w-40 {
  width: 40px;
}

.h-40 {
  height: 40px;
}

.h-85-p {
  height: 85%;
}

.h-15-p {
  height: 15%;
}

.h-6 {
  height: 6.5em;
}

.h-4 {
  height: 4em;
}

.h-2 {
  height: 2em;
}

.h-30 {
  height: 31.5em;
}

.w-230 {
  width: 230px;
}

.quotation__arrow {
  height: 1.2em;
  width: 1.2em;
}

.flex-row {
  flex-direction: row !important;
}

.justify-evenly {
  justify-content: space-evenly;
}

.pointer {
  cursor: pointer;
}

.justify-center {
  justify-content: space-evenly;
}

.justify-right {
  justify-content: right;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.right-0 {
  right: 0em !important;
}

.left-unset {
  left: unset !important;
}

.padding-x-s {
  padding-left: $space-s !important;
  padding-right: $space-s !important;
}

.padding-x-m {
  padding-left: $space-m !important;
  padding-right: $space-m !important;
}

.padding-y-m {
  padding-top: $space-m !important;
  padding-bottom: $space-m !important;
}

.padding-x-xl {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.justify-center {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.left-4 {
  left: 4em;
}

.top-3 {
  top: 3.5em;
}

.top-4 {
  top: 4em;
}

.right-xs {
  right: 0.5em !important;
}

.right-1 {
  right: 0.5em !important;
}

.top-0 {
  top: 0em;
}

.radius-xs {
  border-radius: $space-xs;
}
.radius-3 {
  border-radius: 0.3em;
}

.center {
  justify-content: center !important;
  align-items: center !important;
}

.rounded-s {
  border-radius: 1em;
}

.rounded-l-unset {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.mt-unset {
  margin-top: unset !important;
}
.rounded-full {
  border-radius: 100%;
}

.bg-white {
  background-color: white;
}

.bg-orange {
  background-color: $color-orange-50;
}

.text-center {
  text-align: center;
}

.dummy-circle {
  background-color: $color-grey-30;
  border-radius: 10em;
}

.product-slider__desktop.b2b-ace-swiper .swiper-slide {
  width: 222px !important;
}

.product-slider__desktop.b2b-ace-swiper .swiper-button-disabled {
  display: none !important;
}

.hilight {
  z-index: 1;
  position: absolute;
  height: 14em;
  width: 10em;
  top: 0;
  right: 0;
  background: linear-gradient(
    270deg,
    #ffffff 7.29%,
    rgba(255, 255, 255, 0) 100%
  );
}

.bg-red {
  background-color: red;
}

.opacity-35 {
  opacity: 35%;
}

.bg-size-cover {
  background-size: cover !important;
}

.bg-blue {
  background-color: blue;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden !important;
}

.top__left__curved {
  border-top-left-radius: 1em;
}

.color-orange-50 {
  color: $color-orange-50;
}

.font__color-ace,
.font-warning {
  color: #EF3829;
}

.border-warning {
  border: 1px solid #EF3829 !important;
}

.color-grey {
  color: #313339;
}

.font-xs {
  font-size: 0.75em !important;
}

.font-xxl {
  font-size: 2em !important;
}

/**dummy*/
.w-1 {
  width: 0.4em;
}

.product__order__button--active {
  &__red {
    background-color: #EF3829;
  }

  &__orange {
    background-color: $color-orange-50;
  }
}

.fill-red {
  fill: #EF3829;
  filter: invert(17%) sepia(51%) saturate(5226%) hue-rotate(343deg)
    brightness(93%) contrast(108%);
}

.fill-grey {
  filter: invert(15%) sepia(6%) saturate(1162%) hue-rotate(187deg)
    brightness(0%) contrast(0%);
}

.fill-grey-100 {
  filter: invert(16%) sepia(3%) saturate(1746%) hue-rotate(187deg)
    brightness(93%) contrast(86%);
}

.fill-blue-60 {
  filter: invert(20%) sepia(92%) saturate(2449%) hue-rotate(182deg)
    brightness(95%) contrast(103%);
}

.product__order__arrow {
  height: 0.8em;
  width: 0.8em;
}
// rgba(128, 131, 140, 0.15)
.base-shadow {
  box-shadow: 0px 2px 5px -1px rgba(128, 131, 140, 0.15);
  border-radius: 32px;
  height: 1.5em;
  width: 1.5em;
}

.product__order__button--unactive {
  background-color: #e2e4e7;
}

.product__order__border--active {
  border-bottom: 1px solid #e2e4e7;
}

.active__button {
  height: 2.4em;
  width: 4.5em;
  color: white;
  border-radius: 4px;

  &__red {
    background-color: #EF3829;
    border: 1px solid #EF3829;
  }

  &__orange {
    background-color: $color-orange-50;
    border: 1px solid $color-orange-50;
  }
}

.w-4 {
  width: 4em;
}

.w-9 {
  width: 9em;
}

.w-45 {
  width: 45em;
}

.w-47 {
  width: 47em;
}

.w-80 {
  width: 80%;
}

.mw-unset {
  max-width: unset !important;
}

.mw-22 {
  min-width: 22em;
}

.mw-12 {
  min-width: 12em !important;
}

.mw-50 {
  max-width: 50em;
}

.h-5 {
  height: 5em;
}

.h-50 {
  height: 50em;
}

.h-9 {
  height: 9em;
}

.w-5 {
  width: 5em;
}

.mxw-21 {
  max-width: 21em;
}

.h-18 {
  height: 18em;
}

.p-sticky {
  position: sticky;
  bottom: 0;
  height: 4em;
}

.uderline {
  text-decoration: underline;
}

.weight-400 {
  font-weight: 600;
}

.weight-600 {
  font-weight: $font-weight-semi-bold !important;
}

.weight-700 {
  font-weight: $font-weight-bold !important;
}

.bg-grey {
  background-color: white;
}

.item-start {
  align-items: start !important;
}

.align-center {
  align-items: center;
}

.index-0 {
  z-index: 0;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.outline-none:focus {
  outline: none;
}

.grid-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
}

.color-unset p {
  color: unset !important;
}

input.search-bar-quotation::-webkit-outer-spin-button,
input.search-bar-quotation::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.mr-unset {
  margin-right: unset !important;
}
.ml-unset {
  margin-left: unset !important;
}

.shadow-grey {
  box-shadow: 0px -1px 0px 0px #e2e4e7 inset;
}

.shadow-grey-10 {
  box-shadow: 0px 2px 5px -1px rgba(128, 131, 140, 0.15);
  // box-shadow: 0px 2px 5px -1px #80838c26;
}

.shadow-grey-20 {
  box-shadow: 0px -1px 0px 0px $color-grey-20 inset;
}

.bg-orange-10 {
  background-color: $color-orange-10;
}

.bg-orange-50 {
  background-color: $color-orange-50;
}

.c-orange-50 {
  color: $color-orange-50;
}

.h-xs {
  height: $space-xs !important;
}

.h-xl {
  height: $space-xl !important;
}

.w-xs {
  width: $space-xs !important;
}

.w-xl {
  width: $space-xl !important;
}

.h-3xl {
  height: $space-xxxl !important;
}

.h-fit {
  height: fit-content !important;
}

.w-fit {
  width: fit-content !important;
}

.no-wrap {
  white-space: nowrap;
}

.align-end {
  align-items: flex-end;
}

.pl-unset {
  padding-left: unset !important;
}
.pr-unset {
  padding-right: unset !important;
}

.pl-xxs {
  padding-left: 10px !important;
}

.text-left {
  text-align: left;
}

.mw-half {
  max-width: 50.5% !important;
}

.basis-half {
  flex-basis: 55% !important;
}

.w-xxl {
  width: 524px !important;
}

.p-0 {
  padding: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.bg-repeat {
  background-repeat: no-repeat;
}

.px-xl {
  padding-left: 8em !important;
  padding-right: 8em !important;
}

.border-grey-1 {
  border: 1px solid #e2e4e7;
}

.border-b-grey-1 {
  border-bottom: 1px solid #e2e4e7;
}

.base-shadow-sm {
  box-shadow: 0px 2px 5px -1px rgba(128, 131, 140, 0.15);
}

.base-shadow-m {
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.15);
}

.w-content {
  width: max-content;
}

.ml-auto {
  margin-left: auto !important;
}

.outline--blue {
  &:focus {
    outline: $color-blue-50 solid 1px !important;
  }
}
