// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import '../1-base//base-style';
/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 100%; //1 rem = 10px; 10px/16px = 62.5%
  max-width: 100vw;
}

/**
     * Make all elements from the DOM inherit from the parent box-sizing
     * Since `*` has a specificity of 0, it does not override the `html` value
     * making all elements inheriting from the root box-sizing value
     * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
     */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
    3 IMPORTANT NOTE TO ALL DEVELOPERS FOR A MORE SANE Z-INDEX USAGE
    > THE HIGHEST VALUES ALLOWED ARE:
      >> 10 FOR OVERLAYS (e.g. DARK BG)
      >> 12 FOR ELEMENTS ON TOP (e.g. MODAL, DRAWERS)
    > DO NOT USE VALUES HIGHER THAN THE AFOREMENTIONED 2 HIGHEST VALUES
  */

.toast-notification {
  width: 100% !important;

  & span {
    width: 100% !important;
    font-size: $font-s;
    font-weight: $font-weight-regular;
    line-height: $font-s-line-height;
  }
}

.custom-lazyload-container {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;

  &__desktop,
  &__footer {
    width: 1200px;

    &.footer--background__white {
      background: white;
      width: 100%;
      max-width: unset;
      padding: 0 27em;
    }
  }

  &__desktop {
    margin-top: $space-m + 52px;
  }

  &__swipper {
    padding-right: 0;
    padding-left: $space-m;

    .button {
      padding-right: $space-m;
      padding-left: $space-m;
    }
  }

  &-pdp {
    &__desktop {
      padding-bottom: 52px;
      border-bottom: $space-xs solid $color-grey-20;
    }
  }
}

.justify-content-center {
  justify-content: center;
}

.major-promo {
  margin-top: $space-xxl;
  margin-bottom: $space-xxl;
}

.official-store,
.official-partner {
  margin-top: $space-xl;
  margin-bottom: $space-xl;
}

.explore-brand,
.idea-inspiration,
.promo-bank,
.recommendation-promo {
  .section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.official-partner,
.ruppers-choice,
.explore,
.explore-by-category,
.promo-bank,
.shop-in-shop {
  .card-title {
    color: $color-grey-100;
    text-align: center;
  }
}

// .explore-by-category, .recommended-for-you-container, .promo-bank, .explore-by-brand, .explore-brand
.explore,
.explore-brand,
.idea-inspiration,
.penawaran-saat-ini,
.ruppers-choice,
.shop-in-shop,
.virtual-showroom,
.recommendation-promo {
  &__mobile,
  &__desktop {
    margin-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

.explore-by-category,
.promo-bank,
.recommendation-promo {
  &__mobile {
    margin-top: $space-xl;
  }

  &__desktop {
    margin-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

.recommended-for-you-container {
  &__mobile {
    margin-top: $space-s;
  }
}

.special-recommendation {
  &__mobile {
    margin-top: $space-xl;
    padding-bottom: $space-s;
  }

  &__desktop {
    margin-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

.popular-product {
  &__mobile {
    margin-top: $space-xl;
    padding-bottom: $space-s;
  }

  &__desktop {
    margin-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

.shopinshop-space {
  &__mobile {
    box-sizing: border-box;
    padding-left: $space-s;
    font-size: 12px;
    font-weight: 700;
    color: #53565f !important;

    list {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $space-l;
      color: #313339;
    }
  }

  &__desktop {
    box-sizing: border-box;
    padding-left: $space-s;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #53565f !important;

    list {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $space-l;
      color: #313339;
    }
  }
}

.shop {
  align-items: center;
  height: 60px;
}

.empty-product-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;

  h4 {
    &.__mobile {
      color: $color-grey-100;
      font-size: $font-m;
      padding-top: $space-l + $space-xs;
      padding-left: $space-xs;
      padding-right: $space-xs;
    }
  }
}

.empty-product-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;

  h4 {
    &.__mobile {
      color: $color-grey-100;
      font-size: $font-m;
      padding-top: $space-l + $space-xs;
      padding-left: $space-xs;
      padding-right: $space-xs;
    }

    &.__desktop {
      color: $color-grey-100;
      padding-left: $space-xs;
      padding-right: $space-xs;
      padding-top: $space-xl;
    }
  }

  p {
    &.__mobile {
      color: $color-grey-40;
      font-size: $font-s;
      padding-left: $space-xs;
      padding-right: $space-xs;
      padding-top: $space-xs;
    }

    &.__desktop {
      color: $color-grey-100;
      padding-left: $space-xs;
      padding-right: $space-xs;
      padding-top: $space-m;
    }
  }
}

.content {
  &__gray {
    color: $color-grey-50;
    font-size: $font-s;
  }
}

hr {
  &.bold {
    border-top: 4px solid $color-grey-20;
    margin-bottom: 24px;

    &-no-space {
      margin-block-start: unset !important;
      margin-block-end: unset !important;
    }
  }

  &.normal {
    border-top: 1px solid $color-grey-20;
    margin-block-start: unset !important;
    margin-block-end: unset !important;

    &-active {
      &__ruparupa {
        border-top: 1px solid $color-orange-50;
      }

      &__ace {
        border-top: 1px solid $color-ace;
      }

      &__informa {
        border-top: 1px solid $color-informa;

        &-header {
          border-top: 1px solid $color-white;
        }
      }

      &__hyde-living {
        border-top: 1px solid $color-hyde-living;
      }

      &__toyskingdomonline {
        border-top: 1px solid $color-toys-kingdom;

        &-header {
          border-top: 1px solid $color-white;
        }
      }
    }
  }
}

//For sticky when inside view port
.special-recommendation {
  .button-tab {
    background-color: white;
    position: relative;

    &.sticky {
      z-index: 2;
      position: sticky;
      position: -webkit-sticky;
      top: 95px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

span.custom-lazy-load-image {
  img {
    align-self: flex-start;
  }
}

.review-thumbnail-image {
  img {
    height: 100%;
  }
}

.react-loading-skeleton::after {
  top: 0;
}

.h-100,
.h-full {
  height: 100%;
}

.h-l {
  height: $space-l;
}

.w-100,
.w-full {
  width: 100%;
}

.w-l {
  width: $space-l;
}

.h-auto {
  height: auto !important;
}

.w-auto {
  width: auto !important;
}

.justify-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.bold {
  font-weight: $font-weight-bold;
}

.underline {
  text-decoration: underline;
}

.mb-m {
  margin-bottom: $space-m !important;
}

.outline-0 {
  outline-width: 0;
}

.rounded-xxs {
  border-radius: $space-xxs !important;
}

.rounded-xs {
  border-radius: $space-xs !important;
}

.rounded-r-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-l-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
