.color-white {
  color: $color-white;
}

.bg-white {
  background-color: $color-white;
}

.color-ruparupa {
  color: $color-orange-50;
}

.border-ruparupa {
  border: 1px solid $color-orange-50;
}

.color-ace {
  color: $color-ace;
}

.color-informa {
  color: $color-informa;
}

.color-toys-kingdom,
.color-toyskingdomonline {
  color: $color-toys-kingdom;
}

.color-grey-10 {
  color: $color-grey-10;
}

.bg-grey-10 {
  background-color: $color-grey-10;
}

.color-grey-30 {
  color: $color-grey-30;
}

.border-grey-30 {
  border: 1px solid $color-grey-30;
}

.color-grey-40 {
  color: $color-grey-40;
}

.color-grey-50 {
  color: $color-grey-50;
}

.color-grey-80 {
  color: $color-grey-80;
}

.color-grey-100 {
  color: $color-grey-100;
}

.color-blue-50 {
  color: $color-blue-50;
}

.color-blue-60 {
  color: $color-blue-60;
}

.color-red-50 {
  color: $color-red-50;
}

.color-orange-10 {
  color: $color-orange-10;
}

.color-orange-50 {
  color: $color-orange-50;
}

.color-yellow-50 {
  color: $color-yellow-50;
}

.bg-orange-10 {
  background-color: $color-orange-10;
}

.bg-orange-50 {
  background-color: $color-orange-50;
}

.border-orange-50 {
  border: 1px solid $color-orange-50;
}

.bg-ruparupa {
  background-color: $color-orange-50;
}

.border-grey-20 {
  border: 1px solid $color-grey-20;
}

.border-grey-50 {
  border: 1px solid $color-grey-50;
}

.color-red-60 {
  color: $color-red-60;
}

.bg-red-10 {
  background-color: $color-red-10;
}

.bg-red-50 {
  background-color: $color-red-50;
}

.bg-blue-10 {
  background-color: $color-blue-10;
}

.bg-grey-05 {
  background-color: $color-grey-05 !important;
}

.border-red-50 {
  border: 1px solid $color-red-50;
}

.border-black {
  border: 1px solid black;
}

.bg-yellow-10 {
  background-color: $color-yellow-10;
}
