.flex {
  display: flex !important;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.grow-1 {
  flex-grow: 1;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}
.items-baseline {
  align-items: baseline;
}

.gap-xxxs {
  gap: $space-xxxs;
}
.gap-xxs {
  gap: $space-xxs;
}
.gap-xs {
  gap: $space-xs;
}
.gap-s {
  gap: $space-s;
}
.gap-m {
  gap: $space-m;
}
.gap-l {
  gap: $space-l;
}
.gap-xl {
  gap: $space-xl;
}
.gap-xxl {
  gap: $space-xxl;
}
.gap-xxxl {
  gap: $space-xxxl;
}

.gap-6 {
  gap: 6px;
}
