.margin-xs {
  margin: $space-xs;
}

.margin-s {
  margin: $space-s;
}

.margin-m {
  margin: $space-m;
}

.margin-l {
  margin: $space-l;
}

.margin-xl {
  margin: $space-xl;
}

.margin-xxl {
  margin: $space-xxl;
}

.margin-xxxl {
  margin: $space-xxxl;
}

.margin-top-xs {
  margin-top: $space-xs;
}

.margin-top-xxs {
  margin-top: $space-xxs;
}

.margin-top-s {
  margin-top: $space-s;
}

.margin-top-m {
  margin-top: $space-m;
}

.margin-top-l {
  margin-top: $space-l;
}

.margin-top-xl {
  margin-top: $space-xl;
}

.margin-top-xxl {
  margin-top: $space-xxl;
}

.margin-top-xxxl {
  margin-top: $space-xxxl;
}

.margin-right-xxs {
  margin-right: $space-xxs;
}

.margin-right-xs {
  margin-right: $space-xs;
}

.margin-right-s {
  margin-right: $space-s;
}

.margin-right-m {
  margin-right: $space-m;
}

.margin-right-l {
  margin-right: $space-l;
}

.margin-right-xl {
  margin-right: $space-xl;
}

.margin-right-xxl {
  margin-right: $space-xxl;
}

.margin-right-xxxl {
  margin-right: $space-xxxl;
}

.margin-bottom-xxs {
  margin-bottom: $space-xxs;
}

.margin-bottom-xs {
  margin-bottom: $space-xs;
}

.margin-bottom-s {
  margin-bottom: $space-s;
}

.margin-bottom-m {
  margin-bottom: $space-m;
}

.margin-bottom-l {
  margin-bottom: $space-l;
}

.margin-bottom-xl {
  margin-bottom: $space-xl;
}

.margin-bottom-xxl {
  margin-bottom: $space-xxl;
}

.margin-bottom-xxxl {
  margin-bottom: $space-xxxl;
}

.margin-left-xxs {
  margin-left: $space-xxs;
}

.margin-left-xs {
  margin-left: $space-xs;
}

.margin-left-s {
  margin-left: $space-s;
}

.margin-left-m {
  margin-left: $space-m;
}

.margin-left-l {
  margin-left: $space-l;
}

.margin-left-xl {
  margin-left: $space-xl;
}

.margin-left-xxl {
  margin-left: $space-xxl;
}

.margin-left-xxxl {
  margin-left: $space-xxxl;
}
