@mixin fontBase($url) {
  font-display: swap;
  font-family: 'Inter';
  src: $url;
}

//   put the font in public/static/fonts
// @font-face {
//     @include fontBase(url(https://assets.ruparupa.io/v3/static/homepage/mobile/fonts/Inter-Regular.ttf));
// }

// @font-face {
//     @include fontBase(url(https://assets.ruparupa.io/v3/static/homepage/mobile/fonts/Inter-Bold.ttf));
//     font-weight: 700;
//   }

//   @font-face {
//     @include fontBase(url(https://assets.ruparupa.io/v3/static/homepage/mobile/fonts/Inter-Medium.ttf));
//     font-weight: 500;
// }

//   @font-face {
//     @include fontBase(url(https://assets.ruparupa.io/v3/static/homepage/mobile/fonts/Inter-SemiBold.ttf));
//     font-weight: 600;
//   }

body {
  font-family: 'Inter' !important;
  font-weight: 400;
  font-size: $font-s;
  line-height: $font-m-line-height;
  font-display: swap;
  // color: $color-gray-primary;
  min-height: 100vh;
}

.text-status {
  font-size: 0.825rem;
  &__error {
    color: red;
  }
}

.text-medium {
  font-weight: $font-weight-medium !important;
}

.text-semi-bold {
  font-weight: $font-weight-semi-bold !important;
}
