.bu-box {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
    border: 1px solid $color-grey-20;
    align-items: center;
    border-radius: 8px;

    &--darken-background {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      padding: 16px;
      align-items: center;
      border-radius: 8px;
      border: 1px solid $color-orange-50;
      background-color: $color-orange-10;
    }
  }

  &__info-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-50;
    white-space: nowrap;
    &--declined {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: $color-grey-50;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 155px;
    }
  }

  &__spread-around {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    align-items: center;
  }

  &__button {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid $color-grey-50;
    border-radius: 6px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: $color-grey-50;
    padding: 8px 12px;
  }

  &__success-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-green-60;
  }

  &__failed-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-red-60;
    padding: 6px 8px;
    background-color: $color-red-10;
    border-radius: 32px;
    white-space: nowrap;
    margin-right: -12px;
  }

  &__prompt-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-orange-50;
  }
}
