.account-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-100;

  &--lighten {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-40;
  }

  &--error {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-red-50;
  }

  &__forget-password {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-blue-50;
  }
}

.account-input {
  font-weight: 400;
  font-size: 14px !important;
  line-height: 20px;
  color: $color-grey-100;

  &--error {
    font-weight: 400;
    font-size: 14px !important;
    line-height: 20px;
    color: $color-grey-100;
    border: 1px solid $color-red-50 !important;
  }

  &__phone-symbol {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $color-grey-50;
    top: 0;
    height: 40px;
    background-color: $color-grey-20;
    border-radius: 4px 0px 0px 4px;
  }

  &__text-count {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: $color-grey-40;
  }
}

.account-input-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.account-radio {
  &__container {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  &__button {
    display: flex;
    gap: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-100;
  }

  &--orange {
    accent-color: $color-orange-50;
  }

  &__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-100;
  }

  &__sub-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-40;
  }
}

.account-input-password {
  &__container {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.account-location-input {
  &__body {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 16px;
    overflow: auto;
  }
}

.phone-input {
  position: relative;
  color: black;
  background-color: lightgrey;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 15px;
  position: absolute;
  top: 0px;
  border-radius: 4px;
  height: 100%;
  &__country {
    padding-top: 0 !important;
    padding-right: 5px !important;
  }
}

.account-input-field {
  padding: 12px;
  font-size: $font-xs;
  padding-left: 15px;
  &--phone {
    padding: 12px;
    font-size: $font-xs;
    padding-left: 70px !important;
  }
}

.account-text-area {
  width: 100%;
  border: 1px solid $color-grey-20;
  border-radius: 4px;
  padding: 12px;
  font-size: $font-xs;
  &:focus {
    outline: none;
  }
}

.country-code-left-padding {
  &--code-3 {
    padding-left: 60px !important;
  }
  &--code-4 {
    padding-left: 80px !important;
  }
}

.account-date-picker {
  &--icon-calendar-desktop {
    position: absolute;
    top: 12px;
    right: 15px;
  }
  &--icon-calendar-mobile {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
