.horizontal-line {
  border-top: 1px dashed $color-grey-30;
}

.account-default-container {
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
  // overflow-y: auto;
  // max-height: 90vh;
  &--no-margin {
    margin-top: 16px;
    // overflow-y: auto;
    // max-height: 90vh;
  }
}

.left-right-margin {
  margin-right: 16px;
  margin-left: 16px;
}

.button-bottom-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
  // min-height: calc(100vh - 85px);
}

.border__bottom {
  border-bottom: 1px solid #d3d3d3;
}
.bordered-content {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  font-size: $font-s;
  margin-bottom: 16px;
  padding: 8px;
}

.background-disabled {
  background-color: #e2e4e7 !important;
  border-color: #e2e4e7 !important;
  color: #80838c !important;
}
