.warning-box {
  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: $color-yellow-10;
    border-radius: 8px;
    color: $color-yellow-60;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  &__icon {
    fill: $color-yellow-60;
  }
}

.header {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey-100;
}

.sub-header {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-50;
}

.vertical-spacing {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.account-tnc {
  &__list {
    margin-left: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-50;
  }
}

.manage-account {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__sub-container {
    max-width: 93%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__header {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-100;
  }

  &__sub-header {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-grey-40;
  }
}

.background-grey {
  background-color: $color-grey-10;
  padding: 8px 0px;
  z-index: 100;
}
