.account-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__body {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70px;
    width: 100px;
    z-index: 100;
  }
}

.account-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &--bottom-position {
    display: flex;
    justify-content: flex-end;
  }

  &__body {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;

    &--full {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100vw;
      overflow: auto;
    }

    &--bottom-position {
      margin: 0;
    }

    &--full-height {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100vw;
      height: 100vh;
      padding: 0px !important;
    }
  }

  &__header {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $color-grey-100;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
  }

  &__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-grey-50;
  }

  &__button-container {
    display: flex;
    gap: 8px;
  }

  &__close-button {
    background-color: $color-white;
    border-radius: 100%;
    padding: 16px;
    cursor: pointer;

    &__container {
      display: flex;
      justify-content: flex-end;
      margin: 16px;
    }
  }
}

.modal__floating__close {
  &.body {
    padding: $space-m;
    overflow: unset !important;
  }
  &.container {
    border: unset;
    flex-direction: unset;
  }
  &.dialog {
    margin: 0;
    max-width: unset;
    width: auto;
    margin-top: 10rem; // mempengaruhi close
  }
}

.datepicker-modal {
  &__dialog {
    margin: 0 auto;
    max-width: unset;
    width: auto;
  }
  &__body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
  }
}
