.account-info-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.account-hyper-link {
  &__lupa-password {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $color-blue-50;
  }
}

.skip-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $color-orange-50;
}
