@media (max-height: 830px) {
  /** screen height under 830*/
  .container-tnc {
    .container-text {
      height: 49vh !important;
    }
    .scroll-tobottom {
      &.desktop {
        top: 63% !important;
      }
    }
  }
}

// Styling copy dari irvan
.container-tnc {
  padding: 8px 16px;
  overflow-y: scroll;
  max-width: 524px;
  position: relative;

  .container-text {
    background-color: #f3f4f5;
    border-radius: 8px;
    padding: 1.1em 2em;
    margin-top: 10px;
    height: 500px;
    overflow-y: scroll;
    position: relative;
  }

  .alert-message {
    min-height: 30px;
    max-height: 45px;
    display: flex;
    align-items: center;

    .scroll {
      font-style: italic;
      color: red;

      &__none {
        display: none;
      }
    }
  }

  .req-check {
    display: flex;
    margin: 10px 0;
    align-items: center;

    .square-check {
      height: 20px;
      width: 20px;
      background-color: #f3f4f5;
      margin-right: 15px;
    }
  }

  .scroll-tobottom {
    position: absolute;
    border-radius: 50%;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
    width: 40px;
    background-color: black;
    opacity: 0.6;
    &.desktop {
      top: 75%;
      right: 5%;
      cursor: pointer;
    }
    &.mobile {
      top: 75%;
      right: 5%;
    }
  }
}
