.top-header {
  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    box-shadow: 0px 4px 10px 0px $color-grey-20;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: white;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $color-grey-100;
  }

  &__icon {
    display: flex;
    align-content: center;
  }
}
