.top-tabs {
  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-shadow: 0px 4px 10px 0px $color-grey-20;
  }

  &__button {
    width: 100%;
    text-align: center;
    padding: 16px 8px 12px;

    &--active {
      width: 100%;
      text-align: center;
      padding: 16px 8px 12px;
      border-bottom: 1px solid $color-orange-50;
      color: $color-orange-50;
    }
  }
}
