.welcome-voucher {
  &__container {
    padding-top: 24px;
  }

  &__image {
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $color-grey-100;
    margin-bottom: 8px;
  }

  &__sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $color-grey-100;
  }
}
