.printOrder-footer {
  text-align: center;

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: rgba(1, 1, 1, 0.5);
    gap: 0 8px;

    &--desktop {
      height: 82px;
    }

    &--mobile {
      padding: 16px;
    }

    &--show-button {
      margin: 0 0 4px 0;
    }
  }

  &__info-icon {
    height: 20px;
    width: 20px;
  }

  &__info-text {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100vw;
    background-color: #f26525;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  &__button-text {
    font-style: 16px;
    font-weight: 600;
    color: #ffffff;
  }
}
