.printOrder-header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 45px;
  width: 250px;
}

@media print {
  .printOrder-header-logo {
    height: 20px;
    width: 150px;
  }
}
