.printOrder-header-detail {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 50%;
  z-index: -1;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
}

@media print {
  .printOrder-header-detail {
    top: 50px;
    width: 75%;
  }
}
