.printOrder {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 16px;
    gap: 8px 0;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px 0;
  }

  &__detail {
    position: relative;
    border-radius: 4px;
    border: 1px solid #d4dce6;
    padding: 16px;
    width: 100%;
  }

  &__grand-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 80px 0 0 0;
  }
}

@media print {
  .printOrder {
    &__header {
      gap: 14px 0;
    }

    &__detail {
      border: 1px solid #d4dce6;
    }
  }
}
