.printOrder-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);

  &__text {
    font-size: 16px;
    font-weight: 600;
    color: #555761;
  }
}
