.printOrder-order-detail {
  &__title {
    margin: 16px 0;
  }

  &__table {
    border-radius: 4px;
    border: 1px solid #d4dce6;
    width: 100%;
    margin: 0 0 4px 0;
  }
}

@media print {
  .printOrder-order-detail {
    &__title {
      margin: 8px 0;
    }
  }
}
