.printOrder-order-info {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;

    & > div:nth-child(2) {
      margin: 0 0 8px 0;
    }
  }

  &__section {
    display: flex;
    gap: 0 4px;
  }
}
