.printOrder-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 60%;
  border-radius: 4px;
  border: 1px solid #d4dce6;
  padding: 0 15px;
}

@media print {
  .printOrder-row {
    height: 32px;
  }
}
