.printOrder-separator {
  width: 100%;

  &__line {
    height: 1px;
    background-color: #d4dce6;
  }

  &__dashed {
    height: 2px;
    border-bottom: 2px dashed #d4dce6;
  }
}

@media print {
  .printOrder-separator {
    &__line {
      print-color-adjust: exact;
      -webkit-print-color-adjust: exact;
    }
  }
}
