.printOrder-table-data {
  display: grid;
  grid-template-columns: 55% 10% 15% 20%;
  width: 100%;
  padding: 0 15px;

  & > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    width: 100%;
  }

  & > div:nth-child(2),
  div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > div:nth-child(4) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__note {
    &-wrapper {
      padding: 0px 15px 15px 15px;
    }

    &-lable {
      color: #000 !important;
    }

    &-text {
      color: #b2b6c6 !important;
    }
  }
}

@media print {
  .printOrder-table-data {
    & > div {
      height: 32px;
    }
  }
}
