.printOrder-table-subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;
  width: 100%;
  padding: 0 15px;

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
  }
}

@media print {
  .printOrder-table-subtotal {
    height: 32px;
  }
}
