.printOrder-text {
  &__small {
    font-size: 10px;
  }

  &__medium {
    font-size: 12px;
  }

  &__large {
    font-size: 14px;
  }

  &__extra-large {
    font-size: 16px;
  }

  &__reguler {
    font-weight: 400;
  }

  &__semibold {
    font-weight: 600;
  }

  &__bold {
    font-weight: 700;
  }

  &__grey {
    color: #555761;
  }

  &__red {
    color: #f3251d;
  }

  &__ruparupa {
    color: #f26525;
  }
}

@media print {
  .printOrder-text {
    &__small {
      font-size: 8px;
    }

    &__medium {
      font-size: 8px;
    }

    &__large {
      font-size: 10px;
    }

    &__extra-large {
      font-size: 10px;
    }

    &__grey {
      color: #333333;
    }
  }
}
