.grayscale img,
.grayscale input,
.grayscale a,
.grayscale button,
.grayscale .banner-official-store,
.grayscale .mobile-banner,
.grayscale .price__discount,
.grayscale .swiper-pagination,
.grayscale .swiper-scrollbar {
  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: gray; /* IE6-9 */
}

.no-interaction {
  cursor: not-allowed;
  pointer-events: none;
}
