.text {
  &__blue {
    color: $color-blue-50;
  }
  &__blue60 {
    color: $color-blue-60;
  }
  &__success {
    color: $color-green-50;
  }
  &__warning {
    color: $color-yellow-50;
  }
  &__error {
    color: $color-red-50;
  }
  &__grey100 {
    color: $color-grey-100 !important;
  }
  &__grey50 {
    color: $color-grey-50;
  }
  &__grey40 {
    color: $color-grey-40;
  }
  &__grey30 {
    color: $color-grey-30;
  }
  &__primary,
  &__ruparupa {
    color: $color-orange-50;
  }
  &__ace {
    color: $color-ace;
  }
  &__informa {
    color: $color-informa;
  }
  &__toyskingdomonline {
    color: $color-toys-kingdom;
  }
}
