$color-white: #ffffff;
$color-red: #ff0000;
$color-black: #000000;

// BU Main Color
$color-ace: #EF3829;
$color-informa: #193e6d;
$color-toys-kingdom: #fb5a0f;

// Partner Main Color
$color-hyde-living: #616d39;

$color-grey-00: #fdfdfe;
$color-grey-05: #f9f9f9;
$color-grey-10: #f3f4f5;
$color-grey-20: #e2e4e7;
$color-grey-30: #c6c7cb;
$color-grey-40: #80838c;
$color-grey-50: #53565f;
$color-grey-80: #3e4148;
$color-grey-100: #313339;

$color-orange-10: #fff0e9;
$color-orange-20: #ffd0b8;
$color-orange-40: #ff9057;
$color-orange-50: #f26a24;
$color-orange-60: #ae3f06;

$color-blue-10: #e8f7ff;
$color-blue-20: #beeaff;
$color-blue-40: #40c1ff;
$color-blue-50: #008ccf;
$color-blue-60: #0070a6;

$color-yellow-10: #fff7ed;
$color-yellow-20: #ffe5c7;
$color-yellow-40: #ffc279;
$color-yellow-50: #ffb152;
$color-yellow-60: #bb7a2b;

$color-red-10: #ffeae9;
$color-red-20: #ffc5c2;
$color-red-40: #ff7b73;
$color-red-50: #e01b0e;
$color-red-60: #8f0900;

$color-green-10: #f6fff3;
$color-green-20: #dcffcf;
$color-green-40: #91e771;
$color-green-50: #62ad47;
$color-green-60: #4d9035;

// colors
$themes: (
  'transparant': transparant,
  'white': $color-white,
  'red': $color-red,
  'black': $color-black,
  'ace': $color-ace,
  'informa': $color-informa,
  'toys-kingdom': $color-toys-kingdom,
) !default;

// Font
$font-xxs: 0.625rem;
$font-xxs-line-height: 0.75rem;

$font-xs: 0.75rem;
$font-xs-line-height: 1rem;

$font-s: 0.875rem;
$font-s-line-height: 1.25rem;

$font-m: 1rem;
$font-m-line-height: 1.5rem;

$font-l: 1.25rem;
$font-l-line-height: 2rem;

$font-xl: 2rem;
$font-xl-line-height: 3rem;

// Desktop
$font-l-extra-desktop: 1.5rem;
$font-l-extra-desktop-line-height: 1.75rem;
$font-xl-extra-desktop-line-height: 2.5rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Space
$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 48px;

// Display
$display: (
  'none': none,
  'block': block,
  'grid': grid,
) !default;

// Display
$positions: (
  'absolute': absolute,
  'relative': relative,
) !default;

// size
$size-s: 14px;

// radius
$border-radius: 8px;
$input-radius: $border-radius;
